header {
    z-index: 3;
    height: 80px;
    transition: background-color, 0.4s;

    nav .active {
        color: $clr1;
    }

    nav {
        padding: 5px 0;
        height: 80px;

        .logo-container {
            a {
                padding-bottom: 0.5rem;
            }
        }

        .hamburger-menu {
            display: flex;

            .hamburger-icon {
                cursor: pointer;
                background-color: transparent;
                border: none;
            }

            &.far-hamburger {
                @media screen and (min-width: 600px) and (max-width: 900px) {
                    display: none;
                }
            }

            &.close-hamburger {
                display: none;

                @media screen and (min-width: 600px) and (max-width: 900px) {
                    display: flex;
                }
            }

            @media screen and (min-width: 900px) {
                display: none;
            }
        }

        :not(.logo) {
            align-items: center;
        }

        a {
            &:first-child {
                padding: 0;
                margin-left: 0;
            }

            .header-links {
                color: #74767e;
            }

            padding: 0 5px;
            margin: 10px;


            .header-user-img {
                position: relative;
                width: 30px;
                height: 30px;
                clip-path: circle();

                .notification-orders {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    background-color: #e61c1c;
                    position: absolute;
                    top: -5px;
                    right: -2px;
                  }
            }

            &.join {
                font-size: 14px;
                padding: 10px 16px;
                color: #1dbf73;
                border: 1px solid #1dbf73;
                border-radius: 4px;
                margin: 0 0 0 10px;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    background: #19a463;
                }
            }
        }
    }

    &.home-navbar {
        color: white;
        position: sticky;
        top: 0;

        .hamburger-icon {
            svg rect {
                fill: white;
            }
        }

        .logo {
            color: white;
        }

        .header-links {
            color: white;

            .join {
                color: white;
                border: 1px solid white;

                &:hover {
                    color: #fff;
                    background: #19a463;
                }
            }
        }
    }

    .header-links {
        min-width: max-content;

        .seller-img {
            padding-right: 0;
            margin-right: 0;
        }

        a:nth-child(-n + 2) {
            display: none;
        }

        a:nth-child(3) {
            display: none;
        }

        @media screen and (min-width: 400px) {
            a:nth-child(3) {
                display: flex;
            }
        }

        @media screen and (min-width: 900px) {
            a:nth-child(-n + 2) {
                display: flex;
            }
        }
    }

    &.navbar-scroll {
        box-shadow: 0 0 10px #aaa;
        background-color: $clr6;

        nav .hamburger-menu svg rect {
            fill: #555;
        }

        .logo {
            color: black;
        }

        .header-links {
            min-width: max-content;
            color: #74767e;
            cursor: pointer;

            a:not(:last-child):hover {
                color: #1dbf73;
            }

            .join {
                color: #1dbf73;
                border: 1px solid #1dbf73;
                cursor: pointer;
            }

        }


    }

    .login-link {
        cursor: pointer;
    }

    .search-bar {
        transition: 0.15s ease-in-out;
        width: 100%;
        justify-content: center;

        input {
            padding: 0 5px;
            font-size: 1rem;
            width: 70%;
            height: 42px, ;
            border-radius: 4px;
            border-left: none;
            border: 1px solid #c5c6c9;
            ;

            &:focus {
                outline: 0;
                border-color: #222325;
                color: #62646a;
            }
        }

        &:nth-of-type(2) {
            flex-grow: 2;
        }

        button {
            margin-left: -3px;
            height: 42px;
            width: 50px;
            border-radius: 0 5% 5% 0;
            cursor: pointer;
            background-color: #222325;
        }

        display: none;

        @media screen and (min-width: 600px) {
            display: flex;
        }
    }

    .categories-list {
        border-top: 1px solid #e4e5e7;
        border-bottom: 1px solid #e4e5e7;
        background-color: white;

        .header-slides {

            div.vueperslides__parallax-wrapper>div>div>div>* {
                width: fit-content;
                padding: 0 1rem;
            }

            .vueperslides__arrow {
                cursor: pointer;

                svg {
                    height: 35px;
                    width: 48px;
                    padding: 10px;
                    z-index: 100;
                    color: #62646a;
                }

                &.vueperslides__arrow--prev {
                    transform: translate(80%, -50%);
                    background: linear-gradient(90deg, #fff 50%, hsla(0, 0%, 100%, 0));
                }

                &.vueperslides__arrow--next {
                    transform: translate(-80%, -50%);
                    background: linear-gradient(270deg, #fff 50%, hsla(0, 0%, 100%, 0));
                }
            }

            .vueperslide {
                padding-bottom: 0.75rem;
                background-color: white;
                margin-top: 14px;
                align-content: center;
                height: 26px;
                // min-width: max-content;
                width: fit-content;




                a {
                    cursor: pointer;
                    color: #62646a;
                    font-family: Macan-Regular;

                }

                &:hover {
                    box-shadow: 0 -3px #1dbf73 inset;
                    transition: color .2s;
                }

            }
        }

        ul {
            gap: 2%;

            li {
                margin-top: 14px;
                align-content: center;
                height: 26px;
                min-width: max-content;
                color: #62646a;
                font-family: Macan-Regular;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 -3px #1dbf73 inset;
                    transition: color .2s;
                }
            }
        }

        display: none;

        @media screen and (min-width: 600px) {
            display: grid;
        }
    }

    .logout-link {
        cursor: pointer;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    h1 {
        display: inline;
        padding: none;
        text-decoration: none;
        font-stretch: 50%;

        font-weight: 600;

        &::after {
            content: '.';
            font-size: 2.7rem;
            color: $clr7;
        }
    }

    .loggedin-user {
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;

        span {
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }
    }

    .side-menu {
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        position: fixed;
        height: 100vh;
        z-index: 500;
        width: 270px;
        box-shadow: 20px 0px 20px 800px rgba(51, 50, 50, 0.53);
        padding-inline-start: 20px;

        >* {
            margin-top: 40px;
        }

        p {
            color: #757679;
            padding-top: 0.5rem;
            padding-left: 0.5rem;
            font-size: 18px;
        }

        a,
        button {
            background-color: transparent;
            border: 0;
            text-decoration: none;
            color: #757679;
            font-weight: 700;
            font-size: 18px;

            &:hover {
                color: $clr1;
            }
        }

        .img-container {
            min-width: 35px;
            height: 35px;
            margin-inline-end: 8px;

            >* {
                border-radius: 50%;
            }
        }

        .user-info {
            align-items: center;

            .img-container {
                width: 50px;
                height: 50px;
            }
        }
    }
}