.popular-services {
    p {
        margin-bottom: 32px;
    }

    .vueperslide {
        border-radius: 4px;
        color: white;

        &__content {
            position: absolute;
            font-family: macan-regular;
            top: 1.5rem;
            left: 1rem;
            font-size: 0.9rem;
        }

        &__title {
            position: absolute;
            top: 3rem;
            left: 1rem;
            font-size: 1.5rem;
        }

        &:hover {
            transition: opacity .3s ease-in-out;
            opacity: 0.85
        }
    }
}

.filters {
    section {
        &.filter-header {
            // opacity: 1;
            // transform: rotateX(0deg);
            // transition: transform 0.2s, -webkit-transform 0.2s;
            // align-items: center;
            // background-color: #fff;
            // transition: transform 0.2s, -webkit-transform 0.2s;
            // font-size: 1rem;
            // border-bottom: 1px solid #e4e5e7;
            height: 40px;

            a {
                text-decoration: none;
                padding-block: 8px;
                margin-inline-end: 20px;
                color: #62646a;
                flex-shrink: 0;
                line-height: 24px;
                transition: color 0.2s;
                font-weight: 400;

                &:last-of-type {
                    margin-inline-end: 0;
                }

                &:hover {
                    box-shadow: 0px -3px 0px 0px $clr1 inset;
                    transition: color 0.2s;
                }
            }
        }

    }
}