.login {
    position: fixed;
    z-index: 5;
    // inset: 0;

    width: 400px;
    height: fit-content;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
    background-color: $clr6;
    border-radius: 5px;

    form {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        margin-bottom: 30px;
        font-size: 1.5rem;
        color: $clr9;
    }

    input {
        height: 2.5rem;
        width: 100%;

        padding: 1rem;
        font-family: Macan-Light;
        font-size: 1rem;
        color: $clr9;

        border: 1px solid $clr10;
        border-radius: 4px;
    }

    button {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin: 1.5rem 0;
        padding: 0.75rem;

        width: 100%;
        border: none;
        border-radius: 0.25rem;

        line-height: 1.5rem;
        font-size: 1rem;
        color: $clr6;
        background-color: $clr1;

        cursor: pointer;

        span {
            justify-content: center;
        }
    }

    button:hover {
        background-color: #1a9c5f;
    }

    span {
        text-align: center;
        margin-top: 0.75rem;
        width: 100%;
    }

    a {
        display: block;
        margin-top: 0.5rem;
        text-align: center;
        cursor: pointer;
        color: $clr1;
    }
}