.user-preview-short {

    .img-small {
        width: 30px;
        height: 30px;
        clip-path: circle();
    }

    .seller-username {
        margin-left: 1rem;

        font-size: 0.875rem;
        color: $clr9;
    }

    .seller-level {
        margin-left: 1rem;

        font-family: Macan-Light;
        font-size: 0.875rem;
        color: $clr3;
    }

    .stars {
        font-size: 0.875rem;
    }

    .text-container {
        span {
            margin-top: 0.25rem;
            font-size: 0.875rem;
        }
    }

    .reviews {
        margin-left: 0.375rem;
        margin-top: 0.25rem;

        font-family: Macan-Light;
        font-size: 0.875rem;
    }
}

.user-preview-long {

    width: 100%;

    .img-large {
        width: 100px;
        height: 100px;
        clip-path: circle();
    }

    .seller-details {
        display: inline-block;
        margin: 0.5rem 1rem;
        line-height: 1.5rem;

        color: $clr3;
        font-size: 0.875rem;

        .icon {
            margin-left: 1rem;
            padding-inline: 0.5rem;

            font-family: Macan-Light;
            color: $clr1;
            border: 1px $clr1 solid;
            border-radius: 1rem;
        }
    }

    .rating {
        span {
            margin-top: 0.1875rem;
        }
    }

    .reviews {
        margin-left: 0.375rem;
        margin-top: 0.125rem;

        font-family: Macan-Light;
        font-size: 0.875rem;
    }

    // .contact-btn {
    //     margin-top: 0.75rem;
    //     padding: 0.5rem 1.5rem;

    //     color: $clr5;
    //     background-color: $clr6;
    //     border: 1px solid $clr5;
    //     border-radius: 4px;
    //     cursor: pointer;
    //     font-weight: bold;
    // }

    // .contact-btn:hover {
    //     color: $clr6;
    //     background-color: $clr5;
    // }

    .about-seller {
        display: grid;
        grid-template-columns: 1fr 1fr;

        width: 100%;
        margin-top: 1.5rem;
        padding-inline: 1.5rem;
        font-size: 1rem;
        border: 1px solid #dadbdd;

        span {
            display: block;
            // margin-block: 0.5rem;
        }

        .title {
            font-size: 1rem;
            font-family: Macan-Light;
            color: $clr5;
        }

        .content {
            font-family: Macan-semi-bold;
            color: $clr3;
        }

        .from .response-time .languages {
            grid-column: 1/2;
        }

        .member-since .last-delivery {
            grid-column: 2/3;
        }

        .text {
            grid-column: 1/3;
            padding-block: 1rem;

            border-top: 1px solid #dadbdd;
        }
    }
}