header {
    z-index: 2;
    // padding: 10px;
    height: 80px;

    // width: 100%;
    // font-weight: 700;
    &.home-navbar {
        color: white;
        position: sticky;
        top: 0;
    }

    // color: white;

    &.navbar-scroll {
        transition: background-color, 500;
        box-shadow: 0 0 10px #aaa;
        background-color: #ffffff;
        color: black;
        // RouterLink {
        //     color: #10b761;
        // }
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    h1 {
        display: inline;
        padding: none;
        text-decoration: none;
        font-stretch: 50%;

        font-weight: 600;

        &::after {
            content: '.';
            font-size: 2.7rem;
            color: green;
        }
    }

    .loggedin-user {
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;

        span {
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }
    }

    nav {
        padding: 5px 0;
        height: 80px;
    }

    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }

}