.app-hero {
    position: relative;
    bottom: 80px;
    margin-bottom: -80px;

    .vueperslide__content {
        position: absolute;
        bottom: 35px;
        right: 60px;
        color: white;
    }
}

//WORK IN PROGRESS
// .app-hero {
//     display: none;
//     position: relative;
//     bottom: 80px;
//     margin-bottom: -80px;

//     .vueperslide__content {
//         position: absolute;
//         bottom: 35px;
//         right: 60px;
//         color: white;
//     }

//     @media screen and (min-width: 900px) {
//         display: block;
//     }
// }