header {
    z-index: 2;
    height: 80px;

    &.home-navbar {
        color: white;
        position: sticky;
        top: 0;
    }

    transition: background-color,
    0.4s;

    &.navbar-scroll {
        box-shadow: 0 0 10px #aaa;
        background-color: $clr6;
        color: black;

        .header-links a:hover {
            color: #1dbf73;
        }
    }

    .search-bar {
        transition: 0.15s ease-in-out;
        width: 100%;
        justify-content: center;

        input {
            font-size: 1rem;
            width: 300px;
        }

        &:nth-of-type(2) {
            flex-grow: 2;
        }

        button {
            height: 42px;
            width: 50px;
            border-radius: 0 5% 5% 0;
            cursor: pointer;
            background-color: #222325;
        }
    }

    .categories-list {
        border-top: 1px solid #e4e5e7;
        height: 40px;
        background-color: white;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    h1 {
        display: inline;
        padding: none;
        text-decoration: none;
        font-stretch: 50%;

        font-weight: 600;

        &::after {
            content: '.';
            font-size: 2.7rem;
            color: $clr7;
        }
    }

    .loggedin-user {
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;

        span {
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }
    }

    nav {
        padding: 5px 0;
        height: 80px;
    }

    nav a:not(:first-child) {
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }

}