header {

    background-color: $clr5;
    padding: 10px;
    height: 80px;

    a {
        color: inherit;
    }

    h1 {
        display: inline;
        padding: none;
        text-decoration: none;
        font-stretch: 50%;

        font-weight: 600;

        &::after {
            content: '.';
            font-size: 2.7rem;
            color: green;
        }
    }

    .loggedin-user {
        background-color: $clr1;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;

        span {
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }
    }

    nav {
        background-color: $clr4;
        padding: 5px 0;
    }

    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }

}