.gig-edit {
    background-color: $clr11;
    form {
        @include card(772px, fit-content);
        background: white;
        padding: 30px;
        margin: 30px auto;
        @media screen and (max-width: 800px) {
                width:90%;
        
        }

        .edit-title {
            display: flex;
        }

        input,
        textarea,
        select {
            color: $clr9;

            &:focus {
                border: none;
                outline: 0.2px solid grey;

            }
        }

        input {
            height: 64px;
            padding: 10px;
            width: 100%;
            font-size: 1.12em;
        }

        textarea {
            width: 100%;
            height: 217px;
            padding: 10px;
            font-family: Macan-Regular;
            line-height: 25px;
            font-size: 1rem;

            ::placeholder {
                line-height: 21px;
            }
        }



        span {
            width: 200px;
            flex-shrink: 0;
            font-weight: 600;
            color: $clr9;
            padding-top: 10px;


            p {
                margin-top: 10px;
                font-size: 0.8rem;
                color: #828385;
                font-family: Macan-Regular;
                font-weight: 400;
                line-height: 21px;

            }

        }

        select {
            border: 1px solid rgba(0, 0, 0, 0.274);
        }

        .top-form {
            margin-bottom: 50px;

            input,
            textarea {
                border: 1px solid rgba(0, 0, 0, 0.274);
                border-radius: 4px;
                
            }

            label {
                display: flex;
                gap: 20px;
                margin-bottom: 50px;
            }

            @media screen and (max-width: 800px) {
                >* {
                    display: flex;
                    flex-direction: column;
                }
            
            }
        }


        .title-prefix {
            position: relative;
        }





        .bottom-form {
            margin-bottom: 50px;

            label {
                display: flex;

            }

            span {
                height: 100px;
            }

            select,
            input {
                height: 30px;
                border: 1px solid rgba(0, 0, 0, 0.274);
                font-size: 1rem;
                height: 64px;
                padding: 10px;
            }

            select {

                &:focus {
                    border: none;
                    outline: 0.2px solid grey;
                }
            }
            @media screen and (max-width: 800px) {
                display: flex;
                flex-direction: column;
            
            }
        }


    }



    .btns {

        width: 770px;
        margin: auto;
        margin-bottom: 20px;
        @media screen and (max-width: 800px) {
                width:90%;
        
            }


        button {

            height: 45px;
            border-radius: 4px;
            font-family: Macan;
            font-size: 1rem;
            padding: 15px 24px;
            cursor: pointer;
            transition: .15s ease-in-out;

        }

        .save-btn {
            background-color: $clr7;
            border: none;
            color: white;



            &:hover {
                background-color: var(--yro5218);
            }
        }

        .cancel-btn {
            border: 1px solid black;

            &:hover {
                background-color: grey;
                color: white;
                border: 1px solid grey;
            }
        }

    }
}