.gig-explore-preview {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    max-width: 400px;
    margin: 0 auto;

    .preview-img {
        flex: 0 0 40%;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .gig-bottom {
        border-top: 1px solid;
    }
}

.owner-info {
    display: flex;
    justify-content: flex-start;
    .owner-img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
}