.gig-explore-preview {
    width: 310px;
    height: 373px;
    border: 1px solid ;

    .preview-img {
        width: 100%;
    }

    .gig-bottom {
        border-top: 1px solid;
    }
}

.owner-info {
    display: flex;
    justify-content: flex-start;
    .owner-img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
}