.gig-preview {
    max-width: rem(310px);
    max-height: rem(387.44px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: em(1px) solid #e4e5e7; 
    letter-spacing: 0.1px;


    .preview-preview-img {
      width: 100%;
      height: 200px;
      overflow: hidden;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    .gig-preview-info {
      display: flex;
      align-items: center;
      padding: 12px 12px 8px;
      line-height: 120%;

  
      .seller-img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      p {
        margin: 0;
        font-size: rem(14px);
        color: #222325;
      }
  
      .bold {
        font-weight: 600;
      }
  
      .level {
        color: #8c8c8c;
      }
    }
  
    .gig-preview-title {
      margin-top: 5px;
      display: flex;
      line-height: 22px;
      padding: 0 em(12px);
      flex-direction: column;
      border-bottom: em(1px) solid #e4e5e7; 
      
      i {
        margin: em(10px) em(12px) em(10px) 0;
        font-size: 14px;
    }
    
    a {
        font-weight: 400;
        color: #000;
        text-decoration: none;
        transition: .15s ease-in-out;
        word-break: break-word;
        
        &:hover {
          color: $clr1;
        }
      }
    }
  
    .gig-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
      padding: 0 em(12px);
  
      i {
        font-size: 18px;
      }
  
      p {
        margin: 0;
        font-size: 10px;
        font-weight: 700;
        color: #4d4d4d;
  
        span {
            font-size: 18px;
        }
      }
    }
  }
  