.gig-preview {
  .vueperslides__parallax-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 61.8% !important;
  }
  .vueperslides {
    position: relative;

    .vueperslides__arrow {
      width: 25px;
      padding: 0.2em 0.1em;
      transition: 0.2s;
      & svg {
        width: 1.6em;
        height: 1.4em;
        vertical-align: middle;
        stroke: currentColor;
        fill: none;
        padding: 0.3em 0;
        stroke-width: 2;
        color: transparent;
      }
    }
    .vueperslides__arrow--prev {
      border-radius: 0 50px 50px 0;
      & svg {
        width: 1em;
      }
    }

    .vueperslides__arrow--next {
      border-radius: 50px 0 0 50px;
    }
    @media screen and (max-width: 800px) {
          .vueperslides__arrow {
              margin: 0 -9px;
              background-color: #fff;
              opacity: 1;
              border: 1px solid rgba(126, 125, 125, 0.6);
          
              & svg {
                color: rgba(99, 97, 97, 0.828);
              }
            }
      }
    &:hover .vueperslides__arrow {
      margin: 0 -9px;
      background-color: #fff;
      opacity: 1;
      border: 1px solid rgba(126, 125, 125, 0.6);
      & svg {
        color: rgba(99, 97, 97, 0.828);
      }
    }
    .vueperslides__arrow--prev {
      border-radius: 0 50px 50px 0;

      & svg {
        width: 1em;
      }
      .vueperslides__arrow--next {
        border-radius: 50px 0 0 50px;
      }
    }
  }
    // max-width: rem(310px);
    // max-height: rem(373.44px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: em(1px) solid #e4e5e7; 
    letter-spacing: 0.1px;


    .preview-preview-img {
      width: 100%;
      height: 200px;
      overflow: hidden;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    .gig-preview-info {
      display: flex;
      align-items: center;
      padding: 12px 12px 12px;
      line-height: 120%;

  
      .seller-img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      p {
        margin: 0;
        font-size: rem(14px);
        color: $clr4;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
      }
  
      .bold {
        font-weight: 600;
      }
  
      .level {
        font-family: Macan-Regular;
        color: #8c8c8c;
      }
    }
  
    .gig-preview-title {
      margin-top: 5px;
      display: flex;
      line-height: 22px;
      padding: 0 em(12px);
      flex-direction: column;
      border-bottom: em(1px) solid #e4e5e7; 
      
      i {
        display: block;
        margin: em(12px) em(12px) em(12px) 0;
        font-size: 12px;
    }
    
    a {
        font-family: Macan-Regular;
        font-weight: 400;
        color: $clr4;
        font-size: 16px;
        text-decoration: none;
        transition: .15s ease-in-out;
        word-break: break-word;
        padding: 8 0 8px;
        
        &:hover {
          color: $clr1;
        }
      }
    }
  
    .gig-footer {
      display: flex;
      height: auto;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: em(13px)  em(12px) ;
  
      i {
        font-size: 16px;
      }
  
      p {
        
        margin: 0;
        font-size: 10px;
        font-weight: 700;
        color: #4d4d4d;
  
        span {
            font-family: Macan-Regular;
            font-size: 18px;
            font-weight: 400;
        }
      }
    }
  }
  