.popular-services {
    p {
        margin-bottom: 32px;
    }


    .vueperslide {
        border-radius: 4px;
        color: white;

        &__content {
            position: absolute;
            font-family: macan-regular;
            top: 1.5rem;
            left: 1rem;
            font-size: 0.9rem;
        }

        &__title {
            position: absolute;
            top: 3rem;
            left: 1rem;
            font-size: 1.5rem;
        }

        &:hover {
            transition: opacity .3s ease-in-out;
            opacity: 0.85
        }
    }
}