* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  height: 100%;
  width: 100%;
  font-family: Macan;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
span,
h6 {
  font-family: Macan;
}

h1 {
  font-size: 2rem;
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}