.details {
    font-family: "macan-regular";
    src: url('../../fonts/macan/macan-regular.woff2');

    &.main-grid {
        display: grid;
        grid-template-columns: minmax(380px, 833px) minmax(40px, 70px) minmax(223px, 490px);

        position: relative;
    }

    .main {
        grid-column: 1/2;
        height: 100%;
    }


    .head-what {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .reviews {
        position: relative;

        margin-top: 1500px;
    }

    .main-nav {
        display: flex;
        min-width: 100px;

        li {
            list-style-type: none;
            margin-right: 14px;
            text-align: left;
        }

        :hover {
            font: optional;
        }
    }
}

.aside {
    grid-column: 3/4;

    position: sticky;
    top: 0px;
    bottom: 100px;
    z-index: 1;

    min-height: 400px;
    max-height: 500px;
    border: 1px $clr2 solid;

    .order {
        display: flex;
        justify-content: space-between;

        margin: 18px;
    }

    .order-btn {
        position: absolute;
        bottom: 30px;
        left: 3.5%;
        background-color: $clr1;
        border-radius: 3px;
        width: 90%;
        padding: 12px;
    }
}