// .shadow {
//     position: fixed;
//     z-index: 3;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgb(0 0 0 / 0.5);
//     cursor: pointer;
//     pointer-events: none;
//     opacity: 0;

//     transition: opacity 0.6s;
// }

.details {
    font-family: Macan;
    color: $clr3;

    &.main-grid {
        display: grid;
        grid-template-columns: minmax(500px, 720px) minmax(50px, 100px) minmax(250px, 415px);

        margin: auto;
        max-width: 1300px;
        position: relative;
    }

    nav {
        position: sticky;
        top: 0px;
        grid-column: 1/-1;
        z-index: 2;
        margin-top: 2.5rem;

        background-color: $clr6;
        font-size: 0.875rem;
        border-bottom: 1px solid #e4e5e7;

        ul {
            li {
                margin-right: 1rem;
                padding: 1rem 0;

                color: $clr10;
                font-family: Macan-semi-bold;
                list-style-type: none;
                text-align: left;
                cursor: pointer;
            }

            .active {
                box-shadow: 0px -4px 0px 0px $clr1 inset;
                color: $clr3;
            }

            :hover {
                transition: 300ms;
                color: $clr3;
                cursor: pointer;
            }
        }

    }

    .main {
        grid-column: 1/2;

        .user-short {
            margin-top: 1rem;
        }

        .details-carousel {
            margin: auto;
            margin-top: 1rem;
        }
    }

    .vueperslides__arrow {
        position: absolute;
        font-size: inherit;
        color: inherit;
        text-align: center;
        transform: translateY(-50%);
        transition: 0.3s ease-in-out;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        outline: none;
        z-index: 2;
        line-height: 1;
        background-color: $clr6;
        opacity: 1;
        border-radius: 50%;
        color: $clr6;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);

        svg {
            color: $clr3;
            height: 48px;
            width: 48px;
            stroke-width: 3px;
        }

        &.vueperslides__arrow--prev {
            transform: translate(-70%, -50%);
        }

        &.vueperslides__arrow--next {
            transform: translate(70%, -50%);
        }
    }

    .slideshow {
        .thumbnails .vueperslide {
            box-sizing: border-box;
            border: 1px solid #fff;
            transition: 0.3s ease-in-out;
            opacity: 0.6;
            cursor: pointer;
        }

        .thumbnails .vueperslide--active {
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
            opacity: 1;
            border-color: rgb(92, 87, 87);
        }
    }

    .vueperslide[href] {
        border-radius: 2px;
        margin-bottom: 0.5rem;
    }

    .vueperslides__bullets {
        display: none;
    }

    .vueperslides__track-inner {
        white-space: nowrap;
        transition: 0.5s ease-in-out transform;
        display: flex;
    }

    .vueperslide__content-wrapper:not(.vueperslide__content-wrapper--outside-top):not(.vueperslide__content-wrapper--outside-bottom) {
        border: 1px solid rgba(200, 193, 193, 0.688);
    }

    .title {
        margin-top: 2rem;
        font-family: Macan-Regular;
        color: $clr9;
    }

    .main-review {
        margin-top: 1.5rem;
    }

    .about {
        margin-top: 2rem;
        font-size: 1.25rem;
        padding: 1rem 0;
        color: $clr9;
    }

    .seller-long {
        margin-top: 1.5rem;
    }

    .text {
        font-family: Macan-Regular;
        line-height: 1.5rem;
        font-size: 1rem;
    }


    .head-what {
        justify-content: space-between;
        align-items: center;
        margin-top: 4.5rem;
        font-family: Macan-semi-bold;
        font-size: 1.25rem;
        color: $clr9;
    }

    .seller-long-preview {
        margin-block: 4rem;
        font-size: 1.25rem;
    }

    .user-review {
        min-height: 5rem;
        padding-block: 1rem;
        border-block: 1px solid #e4e5e7;

        .name {
            padding-block: 0.5rem;
        }

        .main {
            flex-direction: column;
            margin-left: 1rem;
            text-align: left;

            .country {
                margin-block: 0.5rem;

                img {
                    width: 2rem;
                    height: 1.75rem;
                }

                span {
                    margin-left: 1rem;
                    font-family: Macan-Light;
                }
            }
        }
    }

}

.order-main {

    grid-column: 3/4;

    position: sticky;
    top: 5rem;
    // bottom: 100px;
    z-index: 1;
    margin-top: 2rem;

    height: fit-content;

    aside {

        border: 1px $clr2 solid;

        .order {
            justify-content: space-between;
            padding: 0.75rem;
            margin: 1.5rem 1rem;
            color: $clr9;
        }

        .description {
            min-height: 20%;
            margin: 1rem;
            padding: 0.75rem;

            font-family: Macan-Light;
            font-size: 0.9rem;
            line-height: 1.5rem;
        }

        .delivery {
            margin-inline: 1rem;
            padding-inline: 0.75rem;
            font-size: 0.9rem;
            line-height: 1.5rem;
        }

        .bullets {
            list-style-type: none;
            margin: 1rem;
            padding: 0.75rem;
            font-size: 0.875rem;
            line-height: 1.5rem;
            font-family: Macan-Light;

            i {
                span {
                    font-family: Macan-light;
                    font-size: 0.875rem;
                    color: $clr10;
                }
            }

            .green {
                color: $clr1;
            }
        }

        .order-btn {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-bottom: 1.5rem;
            padding: 0.5rem;

            width: 86%;
            border: none;
            border-radius: 0.25rem;

            line-height: 1.5rem;
            font-size: 1rem;
            color: $clr6;
            background-color: $clr1;

            cursor: pointer;

            span {
                justify-content: center;
            }

            i {
                position: absolute;
                right: 1rem;
            }

        }

        .order-btn:hover {
            background-color: #1a9c5f;
        }

    }

    // .contact-btn {
    //     display: flex;
    //     position: relative;
    //     z-index: 1;
    //     justify-content: center;
    //     align-items: center;
    //     margin: auto;
    //     margin-top: 2.5rem;
    //     padding: 0.75rem;
    //     border: none;

    //     width: 86%;
    //     color: $clr5;
    //     background-color: $clr6;
    //     border: 1px solid $clr5;
    //     border-radius: 4px;
    //     cursor: pointer;
    //     font-family: Macan;
    //     font-size: 1rem;
    // }

    // .contact-btn:hover {
    //     color: $clr6;
    //     background-color: $clr5;
    // }
}