.details {
    font-family: Macan;
    color: $clr3;

    &.main-grid {
        display: grid;
        grid-template-columns: minmax(380px, 833px) minmax(40px, 70px) minmax(223px, 490px);

        position: relative;
    }

    .main {
        grid-column: 1/2;

        .user-short {
            margin-top: 1rem;
        }

        img {
            margin-top: 1rem;
        }
    }

    .title {
        margin-top: 2rem;
        font-family: Macan-Regular;
        color: $clr9;
    }

    .main-review {
        margin-top: 1.5rem;
    }

    .about {
        margin-top: 4rem;
        font-size: 1.25rem;
        padding: 1rem 0;
        color: $clr9;
    }

    .seller-long {
        margin-top: 1.5rem;
    }

    .text {
        font-family: Macan-Regular;
        line-height: 1.5rem;
        font-size: 1rem;
    }


    .head-what {
        justify-content: space-between;
        align-items: center;
        margin-top: 4.5rem;
        font-family: Macan-semi-bold;
        font-size: 1.25rem;
        color: $clr9;
    }

    .seller-long-preview {
        margin-top: 4rem;
        font-size: 1.25rem;
    }

    .reviews {
        text-align: center;
    }

    .main-nav {
        min-width: 100px;
        color: #888a90;

        li {
            list-style-type: none;
            margin-right: 14px;
            text-align: left;
        }

        :hover {
            color: $clr3;
            font-family: Macan-semi-bold;
            cursor: pointer;
        }
    }
}

.aside {
    grid-column: 3/4;

    position: sticky;
    top: 0px;
    // bottom: 100px;
    z-index: 1;
    margin-top: 2rem;

    height: fit-content;
    border: 1px $clr2 solid;

    .order {
        justify-content: space-between;
        padding: 1rem;
        margin: 1rem;
        color: $clr9;
    }

    .description {
        min-height: 20%;
        margin: 1rem;
        padding: 1rem;

        font-family: Macan-Light;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .delivery {
        margin-inline: 1rem;
        padding-inline: 1rem;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .bullets {
        list-style-type: none;
        margin: 1rem;
        padding: 1rem;
        font-size: 0.875rem;
        line-height: 1.5rem;
        font-family: Macan-Light;

        i {
            span {
                font-family: Macan-light;
                font-size: 0.875rem;
                color: $clr10;
            }
        }

        .green {
            color: $clr1;
        }
    }

    .order-btn {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 1.5rem;
        padding: 0.75rem;

        width: 86%;
        border-radius: 0.25rem;

        line-height: 1.5rem;
        font-family: Macan-Light;
        color: $clr6;

        cursor: pointer;

        span {
            justify-content: center;
        }

        i {
            position: absolute;
            right: 1rem;
        }
    }
}