.details {
    font-family: Macan;
    color: $clr3;

    &.main-grid {
        display: grid;
        grid-template-columns: minmax(380px, 760px) minmax(40px, 70px) minmax(223px, 450px);

        margin: auto;
        min-width: 90%;
        position: relative;
    }

    nav {
        position: sticky;
        top: 0px;
        grid-column: 1/-1;
        z-index: 2;

        margin-top: 2.5rem;
        padding: 1rem 0;

        background-color: $clr6;
        font-family: Macan;
        font-size: 0.875rem;
        border-bottom: 1px solid #e4e5e7;

        li {
            color: $clr10;
            list-style-type: none;
            margin-right: 1rem;
            text-align: left;
        }

        :hover {
            color: $clr3;
            cursor: pointer;
        }
    }

    .main {
        grid-column: 1/2;

        .user-short {
            margin-top: 1rem;
        }

        .details-carousel {
            margin: auto;
            margin-top: 1rem;
            width: 90%;
        }
    }

    .vueperslide[href] {
        border-radius: 2px;
        margin-block: 0.5rem;
    }

    .vueperslides__bullets {
        display: none;
    }

    .vueperslides__track-inner {
        white-space: nowrap;
        transition: 0.5s ease-in-out transform;
        display: flex;
    }

    .vueperslide__content-wrapper:not(.vueperslide__content-wrapper--outside-top):not(.vueperslide__content-wrapper--outside-bottom) {
        border: 1px solid rgba(200, 193, 193, 0.688);
    }


    .title {
        margin-top: 2rem;
        font-family: Macan-Regular;
        color: $clr9;
    }

    .main-review {
        margin-top: 1.5rem;
    }

    .about {
        margin-top: 4rem;
        font-size: 1.25rem;
        padding: 1rem 0;
        color: $clr9;
    }

    .seller-long {
        margin-top: 1.5rem;
    }

    .text {
        font-family: Macan-Regular;
        line-height: 1.5rem;
        font-size: 1rem;
    }


    .head-what {
        justify-content: space-between;
        align-items: center;
        margin-top: 4.5rem;
        font-family: Macan-semi-bold;
        font-size: 1.25rem;
        color: $clr9;
    }

    .seller-long-preview {
        margin-block: 4rem;
        font-size: 1.25rem;
    }

    .user-review {
        min-height: 5rem;
        padding-block: 1rem;
        border-block: 1px solid #e4e5e7;

        .name {
            padding-block: 0.5rem;
        }

        .main {
            flex-direction: column;
            margin-left: 1rem;
            text-align: left;

            .country {
                margin-block: 0.5rem;

                img {
                    width: 2rem;
                    height: 1.75rem;
                }

                span {
                    margin-left: 1rem;
                    font-family: Macan-Light;
                }
            }
        }
    }

}

.order-main {

    grid-column: 3/4;

    position: sticky;
    top: 5rem;
    // bottom: 100px;
    z-index: 1;
    margin-top: 2rem;

    height: fit-content;

    aside {

        border: 1px $clr2 solid;

        .order {
            justify-content: space-between;
            padding: 1rem;
            margin: 1rem;
            color: $clr9;
        }

        .description {
            min-height: 20%;
            margin: 1rem;
            padding: 1rem;

            font-family: Macan-Light;
            font-size: 0.9rem;
            line-height: 1.5rem;
        }

        .delivery {
            margin-inline: 1rem;
            padding-inline: 1rem;
            font-size: 0.9rem;
            line-height: 1.5rem;
        }

        .bullets {
            list-style-type: none;
            margin: 1rem;
            padding: 1rem;
            font-size: 0.875rem;
            line-height: 1.5rem;
            font-family: Macan-Light;

            i {
                span {
                    font-family: Macan-light;
                    font-size: 0.875rem;
                    color: $clr10;
                }
            }

            .green {
                color: $clr1;
            }
        }

        .order-btn {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-bottom: 1.5rem;
            padding: 0.75rem;

            width: 86%;
            border: none;
            border-radius: 0.25rem;

            line-height: 1.5rem;
            font-size: 1rem;
            color: $clr6;
            background-color: $clr1;

            cursor: pointer;

            span {
                justify-content: center;
            }

            i {
                position: absolute;
                right: 1rem;
            }

        }

        .order-btn:hover {
            background-color: #1a9c5f;
        }

    }

    .contact-btn {
        display: flex;
        position: relative;
        z-index: 1;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 2.5rem;
        padding: 0.75rem;
        border: none;

        width: 86%;
        color: $clr5;
        background-color: $clr6;
        border: 1px solid $clr5;
        border-radius: 4px;
        cursor: pointer;
        font-family: Macan;
        font-size: 1rem;
    }

    .contact-btn:hover {
        color: $clr6;
        background-color: $clr5;
    }
}