.gig-list {
    min-height: 60vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;

    @media screen and (max-width: 1142px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
    }

    @media screen and (max-width: 882px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }

    @media screen and (max-width: 582px) {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 24px;
    }
}