.nav-container {
    position: sticky;
    top: 0px;
    z-index: 2;
    grid-column: 1/-1;

    margin-top: 2.5rem;
    border-block: 1px solid #e4e5e7;
}

.details-nav {

    background-color: $clr6;
    font-size: 0.875rem;
    border-bottom: 1px solid #e4e5e7;

    .categories {
        display: flex;

        grid-column: 2/3;

        li {
            margin-right: 1rem;
            padding: 1rem 0;

            font-family: Macan-Regular;
            font-weight: bold;
            list-style-type: none;
            text-align: left;
            cursor: pointer;

            a {
                color: $clr10;
                text-decoration: none;
            }
        }

        .selected {
            box-shadow: 0px -4px 0px 0px $clr1 inset;
            font-family: Macan-semi-bold;

            a {
                color: #222325;
            }
        }

        :hover {
            transition: 300ms;
            color: $clr3;
            cursor: pointer;
        }
    }

}


.details {
    font-family: Macan;
    color: $clr3;

    &.main-grid {
        display: grid;
        grid-template-columns: minmax(485px, 712px) minmax(2rem, 5rem) minmax(290px, 413px);

        margin: auto;
        max-width: 1300px;
        position: relative;
    }

    .main {
        grid-column: 1/2;
        z-index: 0;
        .user-short {
            margin-top: 1rem;
        }

        .details-carousel {
            margin: auto;
            margin-top: 1rem;
        }
    }

    .title {
        margin-top: 1.75rem;

        line-height: 2.25rem;
        font-family: Macan-semi-bold;
        font-size: 1.75rem;
        color: $clr9;
    }

    .vueperslides__arrow {
        position: absolute;
        font-size: inherit;
        color: inherit;
        text-align: center;
        transform: translateY(-50%);
        transition: 0.3s ease-in-out;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        outline: none;
        z-index: 1;
        line-height: 1;
        background-color: $clr6;
        opacity: 1;
        border-radius: 50%;
        color: $clr6;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);

        svg {
            color: $clr3;
            height: 48px;
            width: 48px;
            stroke-width: 3px;
        }

        &.vueperslides__arrow--prev {
            transform: translate(-70%, -50%);
        }

        &.vueperslides__arrow--next {
            transform: translate(70%, -50%);
        }
    }

    .slideshow {
        .thumbnails .vueperslide {
            box-sizing: border-box;
            border: 1px solid #fff;
            transition: 0.3s ease-in-out;
            opacity: 0.6;
            cursor: pointer;
        }

        .thumbnails .vueperslide--active {
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
            opacity: 1;
            border-color: rgb(92, 87, 87);
        }
    }

    .vueperslide[href] {
        border-radius: 2px;
        margin-bottom: 0.5rem;
    }

    .vueperslides__bullets {
        display: none;
    }

    .vueperslides__track-inner {
        white-space: nowrap;
        transition: 0.5s ease-in-out transform;
        display: flex;
    }
    
    .vueperslide__content-wrapper:not(.vueperslide__content-wrapper--outside-top):not(.vueperslide__content-wrapper--outside-bottom) {
        border: 1px solid rgba(200, 193, 193, 0.688);
    }

    .head-what {
        justify-content: space-between;
        align-items: center;
        margin-block: 1rem;
        font-family: Macan-semi-bold;
        font-size: 1.25rem;
        color: $clr9;
    }

    .main-review {
        display: grid;
        grid-template-columns: 5rem 1fr;

        padding-bottom: 1rem;

        border: 1px solid #dadbdd;

        .img-small {
            grid-column: 1/2;
            margin: auto;
            margin-top: 1rem;

            width: 2rem;
            height: 2rem;
            clip-path: circle();

            background-color: #dadbdd;
            color: #ffffff;
            font-size: 1rem;
            font-family: Macan-Light;
        }

        .main {
            grid-column: 2/3;

            .username {
                font-size: 1rem;
                font-family: Macan-semi-bold;
                color: $clr9;
            }

            .flag {
                margin-left: 0.75rem;
                width: 20px;
                height: 20px;
            }

            .country {
                margin-left: 0.75rem;

                font-family: Macan-Light;
                font-size: 0.875rem;
            }

            .space {
                margin-inline: 0.5rem;
                font-family: Macan-Light;
                color: #dadbdd;
            }

            .stars {
                margin-right: 0.25rem;
                font-size: 0.875rem;
            }

            .rating {
                margin-top: 0.125rem;
                font-size: 0.875rem;
                color: #ffb33e;
            }
        }

        .text {
            grid-column: 2/3;
            padding-bottom: 0.5rem;
            padding-right: 1rem;
            margin-top: 0.125rem;
        }

        .reviewedAt {
            grid-column: 2/3;

            font-family: Macan-Light;
            font-size: 0.875rem;
            color: $clr10;
        }
    }

    .about {
        margin-top: 2rem;
        font-size: 1.25rem;
        font-family: Macan-semi-bold;
        padding: 1rem 0;
        color: $clr9;
    }

    .text {
        margin-top: 1rem;

        font-family: Macan-Light;
        line-height: 1.5rem;
        font-size: 1rem;
    }

    .seller-long {
        margin-top: 1.5rem;
    }

    .seller-long-preview {
        margin-block: 4rem;
        font-size: 1.25rem;
    }

    .reviews {
        display: grid;
        grid-template-columns: 3rem 1fr;

        .img-small {
            grid-column: 1/2;

            margin-top: 1.5rem;
            width: 3rem;
            height: 3rem;
            clip-path: circle();

            background-color: #dadbdd;
            color: #b5b6ba;
            font-size: 1.25rem;
            font-family: Macan-Light;
        }

        .user-review {
            grid-column: 2/3;

            min-height: 5rem;
            padding-block: 1rem;
            border-block: 1px solid #e4e5e7;

            .name {
                padding-block: 0.5rem;

                font-family: Macan-semi-bold;
                color: $clr9;
            }

            .main {
                flex-direction: column;
                margin-left: 1rem;
                text-align: left;

                .country {
                    margin-block: 0.125rem;

                    img {
                        margin-bottom: 0.125rem;
                        width: 1.25rem;
                        height: 1.25rem;
                    }

                    span {
                        margin-left: 0.5rem;

                        font-family: Macan-Light;
                        font-size: 0.875rem;
                        color: $clr3;
                    }
                }

                .text {
                    grid-column: 2/3;

                    color: $clr9;
                }

                .reviewedAt {
                    grid-column: 2/3;
                    margin-top: 0.5rem;

                    font-family: Macan-Light;
                    font-size: 0.875rem;
                    color: $clr10;
                }
            }
        }
    }

}

.order-main {

    grid-column: 3/4;

    position: sticky;
    top: 5rem;
    z-index: 1;
    margin-top: 2rem;

    height: fit-content;
    max-width: 860px;

    aside {
        padding: 1.5rem;
        border: 1px #dadbdd solid;

        .order {
            justify-content: space-between;
            margin-top: 0.75rem;
            color: $clr9;

            .price {
                font-family: Macan-Light;
                font-size: 1.25rem;
            }
        }

        .description {
            min-height: 20%;
            margin-top: 1rem;

            font-family: Macan-Light;
            font-size: 0.9rem;
            line-height: 1.5rem;
        }

        .delivery {
            margin-top: 1.5rem;
            font-size: 0.9rem;
            line-height: 1.5rem;
        }

        .bullets {
            list-style-type: none;
            margin-top: 0.5rem;
            font-size: 0.875rem;
            line-height: 1.5rem;
            font-family: Macan-Light;

            i {
                span {
                    font-family: Macan-light;
                    font-size: 0.875rem;
                    color: $clr10;
                }
            }

            .green {
                color: $clr1;
            }
        }

        .order-btn {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-top: 1.5rem;
            padding: 0.625rem;

            width: 100%;
            border: none;
            border-radius: 0.25rem;

            font-size: 1rem;
            color: $clr6;
            background-color: $clr1;

            cursor: pointer;

            .text {
                justify-content: center;
                margin: 0;
                font-family: Macan-semi-bold;
            }

            i {
                position: absolute;
                right: 1rem;
            }

        }

        .order-btn:hover {
            background-color: #1a9c5f;
        }
    }
}

.contact-btn {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2.5rem;
    padding: 0.75rem;
    border: none;

    width: 86%;
    color: $clr5;
    background-color: $clr6;
    border: 1px solid $clr5;
    border-radius: 4px;
    cursor: pointer;
    font-family: Macan;
    font-size: 1rem;
}

.contact-btn:hover {
    color: $clr6;
    background-color: $clr5;
}

dialog::backdrop {
    background-color: rgba(255, 0, 0, 0.25);
}

@media (max-width: 900px) {

    .main-grid {
        grid-template-columns: 1fr;
    }

    .order-main {
        grid-column: 1/-1;
        position: static;
    }
}