.profile {
    margin-top: 4rem;

    button {
        height: 40px;
        width: 40px;
    }
}

.main-grid {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 400px minmax(2rem, 4rem) minmax(500px, 900px);
}

.seller-details {
    grid-column: 1/2;

    .user-img {
        width: 150px;
        height: 150px;
        border-radius: em(167px);
        overflow: hidden;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto
    }
}

.orders {
    grid-column: 3/4;
}

.statistics {
    grid-column: 1/2;
}