.orders-main {
    margin: auto;
    margin-top: 4.5rem;

    @media screen and (max-width: 650px) {
        margin-top: 20px;

        .seller-orders {

            .main-table {
                min-height: 550px;

                .table-head {
                    margin-block: 10px;
                    width: 200%;
                }

                .table-entity {
                    width: 200%;
                    padding-inline: 0;

                    .buyer-col {
                        padding-left: 20px;
                        max-width: 30px;

                        .name {
                            display: none;
                        }
                    }

                    .gig-col {
                        padding-inline: 0;
                    }

                }
            }
        }
    }
}