.gig-edit {
    background-color: #F7F7F7;
     
    input,
    textarea,
    select {
        color: #828385;
        border-radius: 4px;
        border: 1px solid #828385;
        &:focus {
            border: none;
            outline: 0.4px solid grey;

        }
    }
    form {
        border: 1px solid #dadbdd;
        background-color: white;
        max-width: 772px;
        margin: 75px auto 25px;
        padding: 30px;
        p {
            margin-top: 10px;
            font-size: 0.8rem;
            color: #828385;
            font-family: Macan-Regular;
            font-weight: 400;
            line-height: 21px;

        }
        input {
            height: 64px;
            padding: 10px;
            width: 100%;
            font-size: 1.12em;
        }

        textarea {
            width: 100%;
            height: 217px;
            padding: 10px;
            font-family: Macan-Regular;
            line-height: 25px;
            font-size: 1rem;
            resize: none;
            ::placeholder {
                line-height: 21px;
            }
        }
    }
    .top-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        .edit-title {
            display: flex;
            gap: 25px;
            margin: 0 0 50px;
            span {
                width: 300px;                 
                display: flex;
                flex-direction: column;
            }

            @media screen and (max-width: 800px) {
                flex-direction: column;
              } 
        }
    }

    .bottom-form {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .category {
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 200px;
            span {
                height: 80px;
            }
            select,
            input {
                height: 30px;
                border: 1px solid rgba(0, 0, 0, 0.274);
                font-size: 1rem;
                height: 64px;
                padding: 10px;
            }

        }
        @media screen and (max-width: 800px) {
            display: flex;
            flex-direction: column;
        
        }
    }

    .images {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        input {
            display: block;
            border: none;
            width: 100px;
            cursor: pointer;
        }
    }

    .btn {
        display: flex;
        justify-content: space-between;
        width: 770px;
        margin: auto;
        margin-bottom: 20px;
        @media screen and (max-width: 800px) {
                width:90%;
        
            }


        button {

            height: 45px;
            border-radius: 4px;
            font-family: Macan;
            font-size: 1rem;
            padding: 15px 24px;
            cursor: pointer;
            transition: .15s ease-in-out;

        }

        .save-btn {
            background-color: $clr7;
            border: none;
            color: white;



            &:hover {
                opacity: 0.7;
            }
        }

        .cancel-btn {
            border: 1px solid black;

            &:hover {
                background-color: grey;
                color: white;
                border: 1px solid grey;
            }
        }

    }
}