.home {
    position: relative;
    color: #b5b6ba;
    font-weight: 500;

    .hero-search {

        max-width: 650px;
        z-index: 2;
        position: absolute;
        top: 150px;
        gap: 0;

        h1 {
            font-size: 3rem;
            color: white;
            text-align: left;

            span {
                font-style: italic;
                font-family: Domain-Display-Medium-Italic;
                font-weight: 400;

            }
        }
    }

    .hero-search-input {
        margin: 24px 0;

    }

    input {
        border-left: none;
        font-size: 1rem;
        width: 530px;
        // width: 100%;
        border: none;

        &:focus {
            outline-width: 0;
        }
    }

    .search-bar-icon {
        height: 3rem;
        width: 3rem;
        background-color: #fff;
        border-radius: 4px 0 0 4px;

        svg {
            fill: #95979d;
        }
    }

    button {
        font-size: 1rem;
        font-family: Macan-Regular;
        font-weight: 600;
        width: 100px;
        border-radius: 0 4px 4px 0;
        background-color: #1dbf73;
        border: 1px solid #1dbf73;
        color: white
    }

    .popular-categories {
        color: white;

        p {
            padding-right: 12px;
        }

        ul {
            gap: 12px;

            li {
                background-color: transparent;
                border: 1px solid #fff;
                border-radius: 40px;
                color: #fff;
                font-weight: 600;
                line-height: 24px;
                padding: 1px 12px 0;
                transition: all .3s ease-in-out;
                cursor: pointer;

                &:hover {
                    background-color: #fff;

                    a {
                        color: #404145;
                    }
                }

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    .trusted-by {
        background-color: #fafafa;
        padding: 0px 90px;
        width: 100%;
        margin-bottom: 95px;
        height: 95px;

        span {
            width: fit-content;
            font-weight: 600;
        }

        ul li img {
            padding-inline-end: 60px;
        }

        >* {
            padding-inline-end: 40px;
        }

        img {
            height: 60px;
        }
    }

    .popular-services {
        p {
            font-size: 32px;
            font-weight: 700;
            color: #404145;
            text-align: left;
            font-family: Macan;
        }

        .vueperslides__arrow {
            cursor: pointer;
            opacity: 1;
            background-color: white;
            border-radius: 50%;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
            height: 48px;
            width: 48px;

            svg {
                position: fixed;
                top: 7px;
                right: 0px;
                height: 35px;
                stroke: #404145;
                width: 48px;
                padding: 10px;
                stroke-width: 3;
                z-index: 100;
            }

            &.vueperslides__arrow--prev {
                transform: translate(55%, -50%);
            }

            &.vueperslides__arrow--next {
                transform: translate(-55%, -50%);
            }
        }

        margin-bottom: 96px;

    }

    .selling-point-container {
        margin-bottom: 96px;
        padding-bottom: 96px;
        background-color: #f3fdf9;

        .selling-points {
            padding: 64px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: start;


            .site-info {
                padding-inline-end: 30%;

                h1 {
                    padding-bottom: 1.5em;
                    line-height: 120%;
                    font-size: 2em;
                    color: #404145;
                }

                h3 {
                    color: #404145;
                }

                p {
                    color: #62646a;
                    font-family: macan-regular;
                    font-size: 1.1em;
                    line-height: 120%;
                }

                li:not(:last-child) {
                    margin-bottom: 1.5em;

                    section {
                        margin-bottom: 0.5em;
                    }
                }
            }

            .point-image img {
                object-fit: contain;
            }

        }
    }

    .explore-svgs {
        padding-bottom: 5rem;
        border-bottom: 1px solid #e4e5e7;

        .marketplace {
            text-align: left;
            margin-bottom: 64px;
            color: #404145;
        }
    }
}

// .trusted-by {
//     background-color: #fafafa;
//     padding: 0px 90px;
//     width: 100%;
//     margin-bottom: 95px;
//     height: 95px;

//     span {
//         width: fit-content;
//         font-weight: 600;
//     }

//     ul li img {
//         padding-inline-end: 60px;
//     }

//     >* {
//         padding-inline-end: 40px;
//     }

//     img {
//         height: 60px;
//     }
// }

// .popular-services {
//     p {
//         font-size: 32px;
//         font-weight: 700;
//         color: #404145;
//         text-align: left;
//         font-family: Macan;
//     }

//     .vueperslides__arrow {
//         cursor: pointer;
//         opacity: 1;
//         background-color: white;
//         border-radius: 50%;
//         box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
//         height: 48px;
//         width: 48px;

//         svg {
//             position: fixed;
//             top: 7px;
//             right: 0px;
//             height: 35px;
//             stroke: #404145;
//             width: 48px;
//             padding: 10px;
//             stroke-width: 3;
//             z-index: 100;
//         }

//         &.vueperslides__arrow--prev {
//             transform: translate(55%, -50%);
//         }

//         &.vueperslides__arrow--next {
//             transform: translate(-55%, -50%);
//         }
//     }

//     margin-bottom: 96px;

//     .marketplace {
//         text-align: left;
//     }
// }

// .selling-point-container {
//     background-color: #f3fdf9;

//     .selling-points {
//         padding: 64px 0;
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         text-align: start;


//         .site-info {
//             padding-inline-end: 30%;

//             h1 {
//                 padding-bottom: 1.5em;
//                 line-height: 120%;
//                 font-size: 2em;
//                 color: #404145;
//             }

//             h3 {
//                 color: #404145;
//             }

//             p {
//                 color: #62646a;
//                 font-family: macan-regular;
//                 font-size: 1.1em;
//                 line-height: 120%;
//             }

//             li:not(:last-child) {
//                 margin-bottom: 1.5em;

//                 section {
//                     margin-bottom: 0.5em;
//                 }
//             }
//         }

//         .point-image img {
//             object-fit: contain;
//         }

//     }
// }