.home {
    position: relative;
    color: #b5b6ba;
    font-weight: 500;

    .trusted-by {
        background-color: #fafafa;
        padding: 0px 90px;
        width: 100%;
        margin-bottom: 95px;
        height: 95px;

        span {
            width: fit-content;
            font-weight: 600;
        }

        ul li img {
            padding-inline-end: 60px;
        }

        >* {
            padding-inline-end: 40px;
        }

        img {
            height: 60px;
        }
    }

    .popular-services {
        p {
            font-size: 32px;
            font-weight: 700;
            color: #404145;
            text-align: start;
            font-family: Macan;
        }
    }
}