.home {
  position: relative;
  color: #b5b6ba;
  font-weight: 500;
}
.home .hero-search {
  max-width: 550px;
  z-index: 2;
  position: absolute;
  top: 150px;
  gap: 0;
}
.home .hero-search h1 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: white;
  text-align: left;
}
.home .hero-search h1 span {
  font-style: italic;
  font-family: Domain-Display-Medium-Italic;
  font-weight: 400;
}
.home .hero-search .hero-search-input {
  margin: 14px 0;
}
.home .hero-search input {
  border-left: none;
  font-size: 1rem;
  width: 530px;
  border: none;
}
.home .hero-search input:focus {
  outline-width: 0;
}
.home .hero-search .search-bar-icon {
  height: 3rem;
  width: 3rem;
  background-color: #fff;
  border-radius: 4px 0 0 4px;
}
.home .hero-search .search-bar-icon svg {
  fill: #95979d;
}
.home .hero-search button {
  font-size: 1rem;
  font-family: Macan-Regular;
  font-weight: 600;
  width: 110px;
  border-radius: 0 4px 4px 0;
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
  color: white;
}
@media screen and (min-width: 1160px) {
  .home .hero-search {
    max-width: 650px;
  }
  .home .hero-search h1 {
    font-size: 3rem;
  }
  .home .hero-search input {
    width: 630px;
  }
}
@media screen and (min-width: 1160px) {
  .home .hero-search {
    max-width: 650px;
  }
  .home .hero-search h1 {
    font-size: 3rem;
  }
  .home .hero-search input {
    width: 630px;
  }
}
.home .popular-categories {
  color: white;
}
.home .popular-categories p {
  padding-right: 12px;
}
.home .popular-categories ul {
  gap: 12px;
}
.home .popular-categories ul li {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
  padding: 1px 12px 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.home .popular-categories ul li:hover {
  background-color: #fff;
}
.home .popular-categories ul li:hover a {
  color: #404145;
}
.home .popular-categories ul li a {
  color: white;
  text-decoration: none;
}
.home .trusted-by {
  background-color: #fafafa;
  padding: 0px 90px;
  width: 100%;
  margin-bottom: 95px;
  height: 95px;
}
.home .trusted-by span {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  display: none;
}
@media screen and (min-width: 1160px) {
  .home .trusted-by span {
    display: inline;
  }
}
.home .trusted-by ul li img {
  -webkit-padding-end: 60px;
          padding-inline-end: 60px;
}
.home .trusted-by > *:not(:last-child) {
  -webkit-padding-end: 40px;
          padding-inline-end: 40px;
}
.home .trusted-by img {
  height: 60px;
}
.home .popular-services {
  margin-bottom: 2em;
}
.home .popular-services p {
  font-size: 32px;
  font-weight: 700;
  color: #404145;
  text-align: left;
  font-family: Macan;
}
.home .popular-services .vueperslides--touchable .vueperslides__track {
  cursor: ew-resize;
  cursor: default;
}
.home .popular-services .vueperslides__arrow {
  cursor: pointer;
  opacity: 1;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  height: 48px;
  width: 48px;
}
.home .popular-services .vueperslides__arrow svg {
  position: fixed;
  top: 7px;
  right: 0px;
  height: 35px;
  stroke: #404145;
  width: 48px;
  padding: 10px;
  stroke-width: 3;
  z-index: 100;
}
.home .popular-services .vueperslides__arrow.vueperslides__arrow--prev {
  transform: translate(55%, -50%);
}
.home .popular-services .vueperslides__arrow.vueperslides__arrow--next {
  transform: translate(-55%, -50%);
}
.home .selling-point-container {
  margin-bottom: 96px;
  background-color: #f3fdf9;
}
.home .selling-point-container .selling-points {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.home .selling-point-container .selling-points .site-info {
  padding-bottom: 3rem;
  line-height: 1.5em;
}
.home .selling-point-container .selling-points .site-info h1 {
  padding-bottom: 0.65em;
  line-height: 1.2em;
  font-size: 1.75rem;
  color: #404145;
}
.home .selling-point-container .selling-points .site-info span {
  margin-right: 10px;
  height: 1.5em;
}
.home .selling-point-container .selling-points .site-info h3 {
  color: #404145;
  font-size: 1.125em;
  margin-bottom: -0.2em;
}
.home .selling-point-container .selling-points .site-info p {
  color: #62646a;
  font-family: macan-regular;
  font-size: 1.125em;
  line-height: 1.5em;
}
.home .selling-point-container .selling-points .site-info section {
  margin-bottom: 0.65em;
}
.home .selling-point-container .selling-points .site-info li:not(:last-child) {
  margin-bottom: 1.3em;
}
.home .selling-point-container .selling-points .point-image img {
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: contain;
     object-fit: contain;
  align-content: center;
}
@media screen and (min-width: 600px) {
  .home .selling-point-container .selling-points {
    font-size: 1.125rem;
  }
  .home .selling-point-container .selling-points .site-info h1 {
    font-size: 2rem;
  }
  .home .selling-point-container .selling-points h3 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 900px) {
  .home .selling-point-container .selling-points {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding-bottom: 3rem;
  }
  .home .selling-point-container .selling-points .site-info {
    -webkit-padding-end: 25%;
            padding-inline-end: 25%;
  }
}
.home .explore-svgs {
  padding-bottom: 6em;
  border-bottom: 1px solid #e4e5e7;
}
.home .explore-svgs .marketplace {
  text-align: left;
  margin-bottom: 64px;
  color: #404145;
}
.home .explore-svgs .regular {
  padding-top: 0.3em;
}/*# sourceMappingURL=Home.css.map */