.home {
    position: relative;
    color: #b5b6ba;
    font-weight: 500;

    .trusted-by {
        background-color: #fafafa;
        padding: 0px 90px;
        width: 100%;
        margin-bottom: 95px;
        height: 95px;

        span {
            width: fit-content;
            font-weight: 600;
        }

        ul li img {
            padding-inline-end: 60px;
        }

        >* {
            padding-inline-end: 40px;
        }

        img {
            height: 60px;
        }
    }

    .popular-services {
        p {
            font-size: 32px;
            font-weight: 700;
            color: #404145;
            text-align: left;
            font-family: Macan;
        }

        margin-bottom: 96px;
    }

    .selling-point-container {
        background-color: #f3fdf9;

        .selling-points {
            padding: 64px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: start;


            .site-info {
                padding-right: 11%;

                h1 {
                    padding-bottom: 1.5em;
                    line-height: 120%;
                    font-size: 2em;
                    color: #404145;
                }

                h3 {
                    color: #404145;
                }

                p {
                    color: #62646a;
                    font-family: macan-regular;
                    font-size: 1.1em;
                    line-height: 120%;
                }

                li:not(:last-child) {
                    margin-bottom: 1.5em;

                    section {
                        margin-bottom: 0.5em;
                    }
                }
            }

            .point-image img {
                object-fit: contain;
            }

        }
    }
}