.home {
    position: relative;

    .trusted-by {
        min-height: 90px;
        align-items: center;
        gap: 30px;

        img {
            height: 60px;
            width: 120px;
        }
    }
}