// Colors
// LINKS CLICKED COLOR-ACTIVE /SEARCH BOTTOM COLOR OF THE HERO
$clr1: #1dbf73;
// BORDER INPUT WHEN NOT ACTIVE 
$clr2: #c5c6c9;
// FONT COLOR INSIDE AN INPUT 
$clr3: #62646a;
// INPUT SEARCH BOTTOM BACKGROUND / HEADLINE COLOR OF THE HOE PAGE PREVIEW
$clr4: #222325;
// LINK COLOR NOT ACTIVE BELLOW THE MAIN HEADER 
$clr5: #74767e;
// FONT COLOR IN PREVIEW CARD ON THE MAIN PAGE 
$clr6: rgb(255, 255, 255);

$clr7: #1dbf73;

$clr8: #02c2a9; // FIVERR PRO LINK

// DETAILS GIG HEADER
$clr9: #404145;


//DETAILS ASIDE BTNS
$clr10: #95979d;

$clr11: rgb(247, 247, 247);

// Breakpoints
$mobile-breakpoint: 940px;
$narrow-breakpoint: 1140px;
$normal-breakpoint: 1336px;